In [1]:
pwd

'C:\\Users\\Kirankumar Patil\\naveen mech 1'

# PYTHON BASICS

In [3]:
# PRESS RUN TO EXECUTE, #IF ITS STRUCK GO TO KERNEL AND RESTART
1+2

3

In [4]:
4%2 #% IS REMAINDER

0

In [5]:
5//2 #NO FLOAT

2

In [6]:
5+3*4 # BODMAS

17

In [7]:
4/2

2.0

In [8]:
type(4/2)

float

In [9]:
type(2)

int

In [10]:
type('naveen')

str

In [14]:
a=2
b=3
c=a/b

In [15]:
type(c)

float

In [16]:
#BOOLEN OPERATION
True or False

True

In [17]:
True or True

True

In [18]:
True and True

True

In [19]:
True and False

False

In [20]:
type(False)

bool

In [22]:
True | False #find the difference between or | #bitwise and logical operator

True

In [35]:
a=10
b=30
c=a+b
c<20 or c==40

True

# srings

In [48]:
type("naveen is bad")
str="naveen is bad"

In [46]:
# str is a keyword never assign values it

In [43]:


bool("naveen is bad")

True

In [40]:
str(2)

'2'

In [41]:
type(2)

int

In [1]:
str

str

In [2]:
str(1)

'1'

In [11]:
str1="naveen is bad"
str2="naveen is good"

In [12]:
str1+str2

'naveen is badnaveen is good'

In [13]:
str1+" "+str2#space is added between them

'naveen is bad naveen is good'

In [1]:
name=input("Eneter Your Name?")#take input and store it in name
print(name)

Eneter Your Name?s naveen kumar
s naveen kumar

In [4]:
##to add 2 NUMBERS
a=input("enter the first number")### always input is taken as str
b=input("enter the second number")
c=a+b
print("the output is",c)

enter the first number23
enter the second number34
the output is 2334

In [5]:
a=int(input("enter the first number"))### hence we specify as integer
b=input("enter the second number")
c=a+int(b)
print("the output is",c)

enter the first number25
enter the second number25
the output is 50

In [7]:

a=input("enter the first number")### hence we specify as float
b=input("enter the second number")
c=(float(a)+float(b))
print("the output is",c)

enter the first number25
enter the second number25
the output is 50.0

In [9]:
a=input("enter the first number")### string formatting,to get output- my first number is A and my second number is B 
b=input("enter the second number")
c=(float(a)+float(b))
print(" MY first number is {} and my last number is {}".format(a,b))

enter the first number25
enter the second number89
 MY first number is 25 and my last number is 89

In [10]:

a=input("enter the first number")### string formatting,to get output- my second number is B and my first number is A 
b=input("enter the second number")
c=(float(a)+float(b))
print(" MY last number is {} and my first number is {}".format(b,a))

enter the first number25
enter the second number36
 MY last number is 36 and my first number is 25

In [14]:
a=input("enter the first number")### string formatting,to get output- my second number is B and my first number is A 
b=input("enter the second number")
c=(float(a)+float(b))
print(" MY last number is {b} and my first number is {a}".format(b=b,a=a))

enter the first number25
enter the second number36
 MY last number is 36 and my first number is 25

# variable dynamic typing

In [15]:
#here we don't specify like c lang variable is identified by itself
a=1 
type(a)

int

In [16]:
## strong typing
"naveen" + 1

TypeError: can only concatenate str (not "int") to str

In [27]:
"naveen"+str("1")

'naveen1'

In [26]:
"1"+str("naveen")## if second part is not of same type we nedd to specify

'1naveen'

# conditional statements

In [30]:

### if and elif
a=int(input("Enter the number1"))##take the input as int and strore in a
b=int(input('Enter the number2'))
c=a-b
if c<0:                          ###for 1 case
    print("the number is negative")
else:
    print("the number is positive")

Enter the number125
Enter the number225
the number is positive

In [33]:
a=int(input("Enter the number1"))
b=int(input('Enter the number2'))
c=a-b
print("the out put is",c)
if c<0:
    print("the number is negative")
elif c>40:
    print("the difference is huge")
else:
    print("the number is positive")

Enter the number1225
Enter the number2226
the out put is -1
the number is negative

# Data structures

1.list
2.tuple
3.string
4.dictionary
5.sets

In [10]:
lst=[1,2,3,"naveen","kuri"]

In [6]:
type(lst)

list

In [7]:
lst[3]

'naveen'

In [11]:
lst.append("suhas")

In [39]:
lst

[1, 2, 3, 'naveen', 'kuri']