# loops

In [8]:
pwd

'C:\\Users\\Kirankumar Patil\\naveen mech 1'

In [14]:
lst1=[2,2,5,5,6,"naveen","kumar"] ## use equal to to create list

In [15]:
lst

[2, 2, 5, 5, 6, 'naveen', 'kumar']

In [18]:
type(lst1)

list

In [27]:
l2 = [2,3,4,5,'naveen']
l3 = [5,6,7,8,"kumar"]

In [24]:
c=l2+l3      #### concatination operation
print("c is",c)

c is [2, 3, 4, 5, 'naveen', 5, 6, 7, 8, 'kumar']

In [37]:
l1 = [2,3,4,5,"naveen"]
l2 = [5,6,7,8,"kumar"]

In [43]:
l2.append(l3)

In [44]:
l2

[5, 6, 7, 8, 'kumar', [5, 6, 7, 8, 'kumar']]

In [46]:
len(l2)

6

In [48]:
## to find sum of items in list
## for loop
## to define it

In [55]:
l2 = [5,6,7,8,9]
add1=0
for i in l2:
    add1=add1+i
    print(add1)

5
11
18
26
35

In [53]:
add1

35

In [73]:
%%time#### to ckeck execution time
lst1=[1,2,3,4,5,6,7,8,9]
evensum=0
oddsum=0
for i in lst1:
    if i%2==0:
        evensum=evensum+i
    else:
        oddsum=oddsum+i
print(evensum,oddsum)

20 25
Wall time: 0 ns

In [67]:
oddsum

25

In [87]:
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
addsum=0
for i in lst1:     ###to enter the loop
    if i==6:
        break       ###to exit the loop
    addsum=addsum+i

In [83]:
addsum

10

In [97]:
lst1=[1,2,3,4,5,7,8,9]
addsum=0
for i in lst1:     ###to enter the loop
    if i==6:
        break       ###to exit the loop
    addsum=addsum+i
else:
    print("there is no 6 and the sum is",addsum)

there is no 6 and the sum is 39

In [93]:
addsum

15

# find the sum of even numbers and odd numbers, if even sum is greater then 20, or even sum is greater then 20.stop, if no 20 print some sataement

In [4]:
lst1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
evensum=0
oddsum=0
for i in lst1:
    if i%2==0:
        evensum=evensum+i
        if evensum>20:
            break
    else:
        oddsum=oddsum+i
        if oddsum>20:
            break
else:
    print("There is no twenty and the even sum and odd sum is",evensum,oddsum)

In [5]:
evensum

20

In [7]:
oddsum

25

# while loop

In [ ]:
###

In [ ]:
lst1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [3]:
## while loop to find sum of n elements
n=10
i=0
add1=0
while i<=n:
    add1=add1+i
    i=i+1
print(add1)

55

In [4]:
n=25
i=0
oddsum=0
while i<=n:
    oddsum=oddsum+i
    i=i+1
print(oddsum)

325

In [1]:
n=10
i=0
evensum=0
oddsum=0
while i<=10:
    if i%2==0:
        evensum=evensum+i
        i=i+1
    else:
        oddsum=oddsum+i
        i=i+1
else:
    print(evensum,oddsum)

30 25

# the range function

In [3]:
range(10)

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
range(2,20,2)## (start,stop,step)

range(2, 20, 2)

In [10]:
list(range(2,20,2)) ## (to get all the list all range num)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [14]:
###to find sum of even sum upto 50
range(0,50,2)

range(0, 50, 2)

In [15]:
sum(range(0,50,2))

600

In [17]:
list(range(100,50,-2))

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52]

# continue

In [18]:
n=25
i=0
oddsum=0
while i<=n:
    oddsum=oddsum+i
    i=i+1
print(oddsum)

325

In [ ]:
n=25
i=0
oddsum=0
while i<=n:
    if i==10:     ###if i 10 d0nt do iteration just continue
        continue
    oddsum=oddsum+i
    i=i+1
print(oddsum)

In [ ]:
oddsum